<div class = "jumbotron">
<% if user_signed_in?%>
<h1>Welcome to Conference Room Booking!</h1>
<h3>
Effortless Booking
wherever you are
</h3>
<p class = "lead">
Whether your Booking is planned or impromptu, our conference room booking solution ensures there’s always a place to meet.
</p>
<% else %>
<h1>
 BOOKING SYSTEM FOR CONFERENCE ROOMS
</h1>

<% end %>
</div>